* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
 /* background-color: #E0E0E0;  */
 background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80'); 
 background-repeat: no-repeat;
  background-size: cover;
}

.definition-display {
  margin-top: 20px;
  box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
  border-radius: 5px;
  width: 80%;
  /* background: gradient(to right, #ffffff, #f0f0f0); */
  background-color: rgba(137, 210, 243, 0.8);
  padding: 20px;
  color: black;
}

.word-search{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  margin-top: 20px;
}

.word-input{
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  outline: none;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-button{
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.search-button:hover{
    background-color: #0056b3;
  }
article {
  margin-bottom: 20px;
}

h1{
  /* border: 1PX solid red; */
  font-size: 32px;
  font-family: 'Arial', sans-serif;

}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
